<% content_for :head do%>
  <%= javascript_include_tag 'portfolios'%>
<%end%>

<%= javascript_include_tag "http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js" %>


<h2 id='portfolio-title'>Edit or Create a Portfolio! </h2><br><br>

<div class="portfolio-list">
  <div class="row-fluid">
      <div class="span12">

        <%# anytime you render, if it is in 'quotations', then you are rendering a partial. When 
        it isn't in quotations, you are rendering a variable from the controller. If the variable happens to be a pagination of a model, then rails convention will iterate through each record. You can then access the details of each record through this iteration. The iteration is done on a partial. Rails assumes that since you are iterating on a model, that the name of the partial is the model. That's why the below @userportfolios actually renders _portfolio.html.erb because the @userportfolios is defined as portfolios.paginate in the controller. %>

      <%= render @userportfolios, :locals => {:editpage => 'true'} %>

      <div class="portfolio-box-container">
      <%= link_to '+ Add Portfolio', new_portfolio_path, class: 'portfolio-box' %></div>
      </div>

  </div>
</div>



<div class="main-header" id="editing-header">
  <h1>Currently Editing: <%= @current_portfolio.portfolio_name %></h1>
</div>

<div class="currently-table">
  <table class="table">
      <tr>
        <th>Ticker</th>
        <th># of Shares</th>
        <th>Cost Basis</th>
        <th>Date Purchased</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
      <%= render @assets%>
  
  </table>
</div>

<br><br>
<h1>Add Additional Assets</h1>

<%= form_for @current_portfolio do |f|%>
  <%= hidden_field_tag :portfolio_id, params[:id]%>
  <%= hidden_field_tag :editpage, 'true'%>

  <%= f.fields_for :assets do |assetform|%>
  <%= render "asset_form", :a => assetform %> 
  <%end%>

<p><%= link_to_add_assets "Add More Assets", f, :assets %></p>
<br>
<p>
<%=f.submit "Submit Additional Assets", :class => 'add-additional-assets' %></p>

<%end%>




  <br>
  <div class= "add-asset-button" id="add-asset-button">Add an Asset to your Portfolio</div>
  <div class="asset-form-container">
  <%= form_for(@asset) do |f| %>
  <%= hidden_field_tag :portfolio_id, params[:id]%>
  <%= hidden_field_tag :editpage, 'true'%>

    <table>
      <tr>
        <td>Stock Symbol </td>
        <td># of Shares</td>
        <td>Cost Basis</td>
        <td>Date Purchased</td>
      </tr>
      <tr>
        <td>
        <div class="yui3-skin-sam">
            <%= f.text_field :asset_symbol, :id=>'ac-input' %>
        </div></td>
        <td><%= f.text_field :shares, :class=> 'positive' %></td>
        <td><%= f.text_field :cost, :class=> 'positive' %></td>
        <td><%= f.text_field :purchase_date, :type=>'date' %></td>
      </tr>
    </table>


<div class= "submit-button">
  <%= f.submit "Add Asset", class: "add-asset-button"%>
</div>
  <%end%>
  </div>

 <!-- Handle errors from creating an asset by rendering an error partial -->

