<% content_for :head do%>
  <%= javascript_include_tag 'portfolios'%>
<%end%>

<%= javascript_include_tag "http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js" %>


<h1>Edit Portfolios </h1>

<div class="portfolio-list">
  <div class="row-fluid">
      <div class="span12">

        <%# anytime you render, if it is in 'quotations', then you are rendering a partial. When
        it isn't in quotations, you are rendering a variable from the controller. If the variable happens to be a pagination of a model, then rails convention will iterate through each record. You can then access the details of each record through this iteration. The iteration is done on a partial. Rails assumes that since you are iterating on a model, that the name of the partial is the model. That's why the below @userportfolios actually renders _portfolio.html.erb because the @userportfolios is defined as portfolios.paginate in the controller. %>

      <%= render @userportfolios, :locals => {:editpage => 'true'} %>

      <div class="portfolio-box-container">
      <%= link_to '+ Add Portfolio', '#', class: 'portfolio-box', id: 'create-new-port-button' %></div>
      </div>

  </div>
</div>



<div class="main-header" id="editing-header">
  <h2>Currently Editing: <%= @current_portfolio.portfolio_name %></h2>
</div>
<div id="Edit-additional-assets">
<h2>Edit or Add Additional Assets</h2>

<%= form_for @current_portfolio do |f|%>
  <%= hidden_field_tag :portfolio_id, params[:id]%>
  <%= hidden_field_tag :editpage, 'true'%>

  <%= f.fields_for :assets do |assetform|%>
  <%= render "edit_asset_form", :a => assetform %>
  <%end%>

<p><%= link_to_add_assets "Add More Assets", f, :assets %></p>
<br>
<p>
<%=f.submit "Submit Additional Assets", :class => 'add-additional-assets' %></p>

<%end%>
</div>


<!--modal-->
<div id='overlay'>
  <div id = 'modalpopout'>
  <%= form_for @portfolio, :url =>{:action=>'create'} do |f|%>
  <div class="portfolio-name">
  <%= f.text_field :portfolio_name, placeholder: "Enter Portfolio Name" %>
  </div>
<div id= "new-asset-table">
  <div class="yui3-skin-sam">

  <table>
      <tr>
        <th>Ticker</th>
        <th># of Shares</th>
        <th>Cost Basis</th>
        <th>Date Purchased</th>
      </tr>

    <%= f.fields_for :assets do |assetform|%>
    <%= render "asset_form", :a => assetform %>

    <%#render the asset_form partial and pass a = assetform. We do this because the do |assetform|
    block requires you to do something with assetform. I.e. it expects you to write assetform.text_field, asset_form.label, etc. Passing a = assetform allows you to use a.label and a.text_field in the asset_form partial. This is completely unnecessary and done purely to make things easier. Often times they will pass f = assetform so that it is f.label and f.text_field. This is because the form has fields and f is short for field. %>
    <%end%>

  </table>

  <p id="add-another-link"><%= link_to_add_assets "Add Another Asset", f, :assets %></p>
    </div>
    </div>
  <p class="button-container"><%= f.submit "Create Your Portfolio", class: "vol-button" %></p>
  <%end%>
</div>
</div>
<!--end of modal-->
