
<% if flash[:forbidden] %>
<%= flash[:forbidden] %>
<%end%>


Count of portfolios: <%= @userportfolios.count %>. Click to view/edit:
<p>
      <%= render @userportfolios %>
      
<p>
Or

<% if @portfolio.errors.any? %>
      
      <% @portfolio.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
<%end%>


<%= form_for(@portfolio) do |f|%>
<%= f.label :portfolio_name %>
<%= f.text_field :portfolio_name %>
<%= f.submit "Create a portfolio"%>

<%end%>
