<% if flash[:forbidden] %>
<%= flash[:forbidden] %>
<%end%>

<%= javascript_include_tag "jquery-1.9.1.min"%>

<%= javascript_include_tag "highcharts" %>



<script>
$(function () { 
    new Highcharts.Chart({
        chart:{
            renderTo: 'chart'
        },
        plotOptions:{
            series:{
                marker:{
                    enabled: false
                }
            }
        },
        title: {
            text: 'Rolling Standard Deviation'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: '% Deviation'

            }
        },
        series: [<% @current_portfolio.assets.each do |asset|%>
        {
            name: '<%=asset.asset_symbol%>',
            data: <%=(1.year.ago.to_date..Date.today).map {|date| [date.to_datetime.to_i*1000,AssetHistory.stdev(date.to_s,asset.asset_symbol,20)*100]}.inspect %>
        },
        <%end%>
        ]
    });
});
</script>

<div id = "chart"> </div>

<%=2.weeks.ago.to_i%>,
<%=(2.weeks.ago.to_date..Date.today).map {|date| [date.to_datetime.to_i,AssetHistory.stdev(date.to_s,'AAPL',20)*100]}.inspect %>

<br>
<br>
Currently viewing <%= @current_portfolio.portfolio_name%>. The assets in this portfolio include:
<br>
<br>
<% @current_portfolio.assets.each do |asset|%>
<%= asset.asset_symbol%><br>
<%end%>
<br>
<br>
Select a different Portfolio to view:

<%= render @userportfolios, :locals=> {:editpage=>nil} %>
