<% if flash[:forbidden] %>
<%= flash[:forbidden] %>
<%end%>

<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js"%>
<%= javascript_include_tag "highstock" %>




<script>
$(function () { 
    var mychart = new Highcharts.StockChart({
        chart:{
            renderTo: 'chart'
        },
        rangeSelector:{
            enabled: true,
            selected: 4,
            inputPosition:{
                align: "right",
                x: -75
            }
        },
        navigator:{
            enabled: true
        },
        plotOptions:{
            series:{
                marker:{
                    enabled: false
                }
            }
        },
        legend:{
            enabled:true,
            align:'right',
            layout: 'vertical',
            verticalAlign: 'middle'
        },
        title: {
            text: 'Rolling 1 Month Standard Deviation'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: '% Deviation'

            }
        },
        series: [<% @current_portfolio.assets.each do |asset|%>
        {
            name: '<%=asset.asset_symbol%>',
            data:<%= AssetHistory.stdev(asset.asset_symbol,90)%>,
            tooltip:{
                valueDecimals:3
            }
        },
        <%end%>
        ]


    });
     window['mychart'] = mychart;
});



$(function(){
    $('#display1m').click(function() {
        <% (0...@current_portfolio.assets.length).each do |n| %>
        mychart.series[<%=n%>].setData( <%=AssetHistory.stdev(@current_portfolio.assets[n]['asset_symbol'],21)%>,true);
        <%end%>
        mychart.setTitle({text:"Rolling 1 Month Standard Deviation"});
    });
});
$(function(){
$('#display3m').click(function() {
        <% (0...@current_portfolio.assets.length).each do |n| %>
        mychart.series[<%=n%>].setData( <%=AssetHistory.stdev(@current_portfolio.assets[n]['asset_symbol'],63)%>,true);
        <%end%>
        mychart.setTitle({text:"Rolling 1 Quarter Standard Deviation"});
    });
});
$(function(){
$('#display12m').click(function() {
        <% (0...@current_portfolio.assets.length).each do |n| %>
        mychart.series[<%=n%>].setData( <%=AssetHistory.stdev(@current_portfolio.assets[n]['asset_symbol'],252)%>,true);
        <%end%>
        mychart.setTitle({text:"Rolling 1 Year Standard Deviation"});
    });
});


</script>


<div id = "chart"> </div>
<button id="display1m"> 1 Month </button>
<button id="display3m"> 1 Quarter</button>
<button id="display12m">1 Year </button>


<br>
<br>
Currently viewing <%= @current_portfolio.portfolio_name%>. The assets in this portfolio include:
<br>
<br>
<% @current_portfolio.assets.each do |asset|%>
<%= asset.asset_symbol%><br>
<%end%>
<br>
<br>
Select a different Portfolio to view:

<%= render @userportfolios, :locals=> {:editpage=>nil} %>
