<%= javascript_include_tag "http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js" %>

    <h1>Add Assets to your Portfolio</h1>
      </div>
      <div class="add-asset-table">
        <table>
          <tr>
            <td>Ticker</td>
            <td># of Shares</td>
            <td>Cost Basis</td>
            <td>Date Purchased</td>
          </tr>
          <tr>

            <%= form_for(@asset) do |f| %>
            <%= hidden_field_tag :portfolio_id, params[:id]%>

            <td><div class="container  yui3-skin-sam">
            <%= f.text_field :asset_symbol, :id=>'ac-input' %></div></td>
            <td><%= f.text_field :shares, :class=> 'positive' %></td>
            <td><%= f.text_field :cost, :class=> 'positive' %></td>
            <td><%= f.text_field :purchase_date, :type=>'date' %></td>
          </tr>
          </table>
        </div>
            <div class= "submit-button">
            <%= f.submit "+ Add to Portfolio", class: "add-asset-button"%>
            </div>
            <%end%>
            Or  <%= form_for(@portfolio) do |f|%>
                <%= f.label :portfolio_name %>
                <%= f.text_field :portfolio_name %>
                <%= f.submit "Create a portfolio"%>
                <%end%>

                <% if @asset.errors.any? %>
      
      <% @asset.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
<%end%>
    

      <div class="main-header">
        <h1>Currently viewing: <%= @current_portfolio.portfolio_name %></h1>
      </div>
      <p>Select a different portfolio: </p>
      <%= render @userportfolios %>

      <div class="currently-table">
        <table>
            <tr>
              <td>Ticker</td>
              <td># of Shares</td>
              <td>Cost Basis</td>
              <td>Date Purchased</td>

            </tr>
            
            
        </table>
        <%= render @assets %>