<% if signed_in? %>

  <div class="navigation">
    <div class="navigation-inner">
      <div class="header-logo">
        <p>Volatility</p>
      </div>
      <div class="navigation-menu">
        <%= link_to 'View Portfolios', portfolio_path(current_portfolio.id) %>&nbsp;|&nbsp;
        <%= link_to 'Edit Portfolios', edit_portfolio_path(current_portfolio.id) %>&nbsp;|&nbsp;
        <%= link_to 'Account', edit_user_path(current_user) %>&nbsp;|&nbsp;
        <%= link_to 'Signout', signout_path %>
      </div>
    </div>
  </div>



  <%else%>

  <div class="navigation">
    <div class="navigation-inner">
      <div class="header-logo">
        <p>Volatility</p>
      </div>
      <div class="navigation-menu">
        <%= link_to 'Login', login_path %>&nbsp;|&nbsp;
        <%= link_to 'Register', register_path %>&nbsp;|&nbsp;
        <%= link_to 'Account', login_path %>
      </div>
    </div>
  </div>
<%end%>
