<%= form_for [:portfolio, @asset], :url=> asset_path(asset.id), :html=>{:method=>"put"} do |f|%>
  <%= hidden_field_tag :portfolio_id, params[:id]%>
<tr>

	<td>
		<span class='assettext'><%= asset.asset_symbol %></span>
		<span class='inputfield'><%= f.text_field :asset_symbol, :value => asset.asset_symbol %>
		</span>
	</td>
	<td><span class='assettext'><%= asset.shares %></span>
		<span class='inputfield'><%=f.text_field :shares, :value => asset.shares, :class=>'positive'%>
		</span>
	</td>
	<td><span class='assettext'><%= asset.cost %></span>
		<span class='inputfield'><%=f.text_field :cost, :value=>asset.cost, :class=>'positive'%>
		</span>
	</td>
	<td><span class='assettext'><%=asset.purchase_date%></span>
		<span class='inputfield'><%=f.text_field :purchase_date, :value => asset.purchase_date%>
		</span>
	</td>

	<td>
		<span class='editbutton'>Edit</span>
		<%= f.submit "Save", :class=>'savebutton'%>
		<span class='savecancelslash'> / </span>
		<span class='cancelbutton'>Cancel</span>
	</td>

	<td><%= link_to "Delete", asset, method: :delete, confirm: "Are you sure?" %></td>

</tr>
  

<%end%>


<%# "The above provides Text and an Input Field for each field in the Asset form. However with CSS I have made the Input Fields display:none. When someone clicks the Edit Button, the Text becomes display:none and the Input Fields become display:inline. Visually, this makes it appear as though the text became an input field. In the same way, the edit button disappears with display:none, and the Save / Cancel buttons appear with display:inline. All this is done with jquery."%>
