<tr>
<td><%= asset.asset_symbol %></td>
<td><%= asset.shares %></td>
<td><%= asset.cost %></td>
<td><%= asset.purchase_date %></td>
<td><a href="#">Edit</a></td>
<td><%= link_to "delete", asset, method: :delete, confirm: "You sure?" %></td>
</tr>

